<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
    <resultMap type="Member" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="memberNickname" column="MEMBER_NICKNAME" />
        <result property="memberPw" column="MEMBER_PW" />
        <result property="memberName" column="MEMBER_NAME" />
        <result property="memberEmail" column="MEMBER_EMAIL" />
        <result property="memberPhone" column="MEMBER_PHONE" />
        <result property="memberAddr" column="MEMBER_ADDR" />
        <result property="memberDate" column="MEMBER_DATE" />
        <result property="memberEndDate" column="MEMBER_END_DATE" />
        <result property="memberStatus" column="MEMBER_STATUS" />
        <result property="memberType" column="MEMBER_TYPE" />
    </resultMap>

    <resultMap type="OrderDetail" id="orderListResultMap">
        <id property="orderNo" column="ORDER_NO" />
        <result property="orderQuantity" column="ORDER_QUANTITY" />
        <result property="orderStatus" column="ORDER_STATUS" />
        <result property="memberNo" column="MEMBER_NO" />
        <result property="perfumeNo" column="PERFUME_NO" />
        <result property="perfumeName" column="PERFUME_NAME" />
        <result property="perfumePrice" column="PERFUME_PRICE" />
    </resultMap>

    <!-- 회원가입 -->
    <!-- mysql AUTO_INCREMENT 컬럼이니까 MEMBER_NO 생략함-->
    <insert id="insertMember">
        INSERT INTO MEMBER_TBL(
            MEMBER_ID, MEMBER_NICKNAME, MEMBER_PW,
            MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDR,
            MEMBER_DATE, MEMBER_STATUS, MEMBER_TYPE)
        VALUES(
            #{memberId}, #{memberNickname}, #{memberPw},
            #{memberName}, #{memberEmail}, #{memberPhone}, #{memberAddr},
            DEFAULT, DEFAULT, DEFAULT)
    </insert>

    <!-- 유효성 검사 -->
    <select id="checkId" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER_TBL
        WHERE MEMBER_ID = #{memberId}
    </select>
    <select id="checkNickname" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER_TBL
        WHERE MEMBER_NICKNAME = #{memberNickname}
    </select>
    <select id="checkEmail" resultType="_int">
        SELECT COUNT(*)
        FROM MEMBER_TBL
        WHERE MEMBER_EMAIL = #{memberEmail}
    </select>

    <!-- 로그인 -->
    <select id="login" resultMap="memberResultMap">
        SELECT MEMBER_NO, MEMBER_ID, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_TYPE, MEMBER_STATUS
        FROM MEMBER_TBL
        WHERE MEMBER_ID = #{memberId} AND MEMBER_PW = #{memberPw}
    </select>

    <!-- 아이디 찾기 -->
    <select id="findId" resultMap="memberResultMap">
        SELECT * FROM MEMBER_TBL WHERE MEMBER_NAME = #{memberName}
        <if test="memberEmail != null and memberEmail != '' ">
            AND MEMBER_EMAIL = #{memberEmail}
        </if>
        <if test="memberPhone != null and memberPhone != '' ">
            AND MEMBER_PHONE = #{memberPhone}
        </if>
    </select>

    <!-- 비밀번호 찾기 -->
    <select id="findPw" resultMap="memberResultMap">
        SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND MEMBER_NAME = #{memberName}
        <if test="memberEmail != null and memberEmail != '' ">
            AND MEMBER_EMAIL = #{memberEmail}
        </if>
        <if test="memberPhone != null and memberPhone != '' ">
            AND MEMBER_PHONE = #{memberPhone}
        </if>
    </select>
    <!-- 비밀번호 변경 -->
    <update id="updatePw">
        UPDATE MEMBER_TBL
        SET MEMBER_PW = #{memberPw}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!-- 주문내역조회 -->
    <select id="orderList" resultMap="orderListResultMap">
        SELECT
            o.ORDER_NO,
            o.ORDER_QUANTITY,
            o.ORDER_STATUS,
            o.MEMBER_NO,
            o.PERFUME_NO,
            p.PERFUME_NAME,
            p.PERFUME_PRICE
        FROM ORDER_DETAIL_TBL o
        JOIN PERFUME_TBL p ON o.PERFUME_NO = p.PERFUME_NO
        WHERE o.MEMBER_NO = #{memberNo}
    </select>
</mapper>